/Scheduler/obj
/Scheduler/bin
/HookConsole/bin
/HookConsole/obj
/Extractor/bin
/Extractor/obj
/Downloader/bin
/Downloader/obj
/.vs
/packages
/Downloader/SqlServerTypes
/Extractor/SqlServerTypes
/DataAnalysis/bin
/DataAnalysis/obj
